@font-face {
    font-family: takgeneral;
    src: url('./font/IRANSans.eot');
    src: url('./font/IRANSans.woff2') format('woff2'),
    url('./font/IRANSans.woff') format('woff');
}
html , body , #__next{
    height: 100%;
}
*{
    margin: 0;
    writing-mode: bt-lr;
    padding : 0 ;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 100%; /* Height of the scrollbar */
    background-color: #F5F5F5; /* Background color of the scrollbar */
    direction: ltr; /* Change the direction of the scrollbar to right-to-left */
    writing-mode: vertical-lr; /* Change the writing mode to vertical right-to-left */
    position: fixed; /* Fix the position of the scrollbar */
    right: 0; /* Position the scrollbar on the right side of the page */
    top: 0; /* Position the scrollbar at the top of the page */
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}