@font-face {
    font-family: takgeneral;
    src: url('./font/IRANSans.eot');
    src: url('./font/IRANSans.woff2') format('woff2'),
    url('./font/IRANSans.woff') format('woff');
}
body,html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
*{
    margin: 0;
    padding : 0 ;
    box-sizing: border-box;
}
.mySwiper .swiper-slide-thumb-active {
    border: 2px solid #2A74C9;
}
