@font-face {
    font-family: takgeneral;
    src: url('./font/IRANSans.eot');
    src: url('./font/IRANSans.woff2') format('woff2'),
    url('./font/IRANSans.woff') format('woff');
}
html , body , #__next{
    height: 100%;
}
*{
    margin: 0;
    padding : 0
}