body, html {
    scroll-behavior: smooth;
    background-color: #FAFAFA;
    top: 0;
    right: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swiper-wrapper {
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mySwiper .swiper-slide-thumb-active {
    border: 2px solid #2A74C9;
}

.html-response-elements * {
    font-family: var(--iranYekan) !important;
    line-height: 30px !important;
}

input {
    touch-action: none !important;
}
.link-building-in-content-seo{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #1b09f9;
    color: #fff;
}
.html-response-elements a{
    color:  #1b09f9;
    border-bottom: 1px solid #1b09f9;
}


